{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F0F2F5;
}

.fa-facebook {
    padding: 8px;
    margin-top: 20px;
    margin-left: 80px;
    color: #1877F2;
    font-size: 30px;
}
.left-flank {
    width: 50%;
    height: 100vh;
}

.right-flank {
    width: 50%;
    height: 100vh;
}

.text {
    top: 30%;
    left: 15%;
    position: relative;
}
.text h1 {
    font-size: 50px;
    color: #1877F2;
}

.text p {
    font-size: 24px;
    line-height: 1.2;
}

.inner {
    height: 330px;
    width: 400px;
    background-color: #FFFFFF;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .2);
    top: 25%;
    left: 10%;
    position: relative;
    border-radius: 8px;
    display: flex;
    overflow: hidden;
    justify-content: center;
}
.input-box {
    justify-content: center;
    display: flex;
    position: absolute;
    flex-wrap: wrap;
}
input {
    border: 0;
    outline: 0;
    width: 90%;
    font-size: 16px;
    height: 20px;
    border: 1px solid #DCDFE2;
    border-radius: 5px;
    background-color: #FFFFFF;
    justify-content: center;
    padding: 20px 20px;
    margin-top: 15px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

input:hover {
    border: 1px solid  #1877F2;
    box-shadow: 0 3px 5px rgba(22, 11, 236, 0.2);
}

.right-flank .inner button {
    margin-top: 15px;
    width: 90%;
    min-height: 20px;
    line-height: 20px;
    padding: 13px 20px;
    text-align: center;
    font-size: 18px;
    font-weight: 550;
    color: #FFFFFF;
    background-color: #1877F2;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.right-flank .inner button:hover {
    box-shadow: 0 3px 5px rgba(22, 11, 236, 0.2);
}

.right-flank .inner a {
    font-size: 13px;
    margin-top: 20px;
    text-decoration: none;
    color: #1877F2;
}

.right-flank .inner hr {
    width: 90%;
    color: #DCDFE2;
    margin-top: 25px;
}

.right-flank .inner .green-btn {
    margin-top: 28px;
    width: 45%;
    min-height: 10px;
    line-height: 10px;
    padding: 16px 0px;
    font-size: 15px;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #42B72A;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}
.right-flank .footer {
    position: relative;
    margin-top: 180px;
    margin-left: 120px;
    
}

.right-flank .footer p{
    font-size: 13px;
    font-weight: 380;
}